<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0" >

    <!-- versionCode is optional and Android only -->
        <preference name="orientation" value="landscape" />
        <preference name="webviewbounce" value="false" />
	<preference name="prerendered-icon" value="true"/>
        <gap:platform name="ios" />
       <gap:config-file platform="ios" parent="UISupportedInterfaceOrientations" overwrite="true">
        <array>
            
            <string>UIInterfaceOrientationLandscapeRight</string>
        </array>
    </gap:config-file>


</widget>
